:root{
    background-color: rgb(112, 111, 111);
}


.card{
    height:90%;
    max-width: 480px;
    background:linear-gradient(150deg, #00febac2, #5b548ab9);
    margin:100 px auto 0;
    padding: 40px 20px;
    border-radius:20px;
    text-align: center;

}


.searchBox{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.searchBox input{
    border:0;
    outline: 0;
    background: #ebfffb;
    padding: 5px 22px;
    height:50px;
    border-radius: 25px;
    flex:1;
    margin-right:12px;
    font-size: 18px;
}

.searchBox button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width:60px;
    height:60px;
    cursor:pointer;
    width:60px;
    height: 60px;
    cursor: pointer;
}

.searchBox svg{
    width:16px;
}



.weather-icon{
    width: 170px;
    margin-top:30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display:flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}