:root{
    background-color: rgb(112, 111, 111);
}

svg{
    height:1rem;
    width:1rem;
    /* fill:black; */
}

.card{
    height:70vh;
    width:40vw;
    background:linear-gradient(150deg, #00febac2, #5b548ab9);
    margin:100 px auto 0;
    padding: 40px 20px;
    border-radius:20px;

}
